<div class="row">
	<div class="span6">
		<p id="left">
			{{message}} 		
		</p>
	</div>
	<div class="span1">
		<pinterest pickid="{{best.id}}"></pinterest>
	</div>
	<div class="span5">
	</div>
</div>
<div class="row">
	<div class="span6">
		<pick id="left" path="{{best.imageUrl}}" pickid="{{best.id}}"></pick>
	</div>
	<div class="span6">
		<p id="blurb">
			Hi, my name is Lyndsay. <br /><br />
			As a modern, everyday woman (mother of 3) I have a flair for style and an eye for fashion. Whether it's through mentoring, a helping hand, mom to mom, woman to woman or fashion advice, I believe each woman is special and unique.  Every girl deserves to feel pretty and beautiful. I think I should be the next Mademoiselle Bourjois because I want other women to know that anything is possible when you embrace who you are and feel confident and beautiful in your own skin.
			<br /><br /><facebook pickid="{{choice.id}}"></facebook>
		</p>
	</div>
</div>
